<h1>Welcome to <%= @classroom.name %></h1>

<div id="toolbar">
  <div id="run">Run</div>
</div>

<div id="editor"></div>
<div id="output">Here would go the output from your program ;)</div>

<div id="status_bar">
  <ul id="attendance"></ul>
  <span class="lang <%= @classroom.language %>"><%= @classroom.language_name %></span>
  <span id="ping">100 ms</span>
</div>
