<h1>Welcome to <%= @classroom.name %></h1>

<div id="toolbar">
  <div id="run">Run</div>
</div>

<div id="editor"><%= @classroom.code %></div>
<div id="output">Here would go the output from your program ;)</div>
